@font-face {
    font-family: 'MyCustomFont';
    src: url('Fonts/TaylorGothic.woff2') format('woff2'),
    url('Fonts/TaylorGothic.woff') format('woff'),
    url('Fonts/TaylorGothic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  body, html {
    margin: 0;
    height: 100%;
    font-family: 'MyCustomFont', sans-serif;
    background-color: rgb(220, 207, 87);
    display: flex;
    flex-direction: column;
    
  }

  /* Style for links */
  .link {
    color: brown; /* Default color */
    text-decoration: none;
    cursor: pointer;
    font-size: 16pt;
}

/* Style for selected (clicked) links */
.link.clicked {
    color: purple; /* Color when selected */
}

/* Style for image buttons */
.button {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}

/* Image size */
.button img {
    width: 40px; /* Adjust as needed */
    height: 40px;
}


.container {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  margin: 20px auto; /* Center the container horizontally */
  width: 90%; /* Adjusted width for responsiveness */
  max-width: 800px;
  border: 1px solid #ccc;
  padding: 20px; /* Increased padding for better spacing */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Add background for clarity */
  gap: 20px;
  }

  .image {
    flex-shrink: 0;
    margin-right: 15px;
  }
  .image img {
    width: auto;
    height: 200px; /* Consistent height for all images */
    object-fit: cover;
    border-radius: 8px;
  }

  .page-title {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    color: brown;
}

/* Album details */
.album-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.album-title {
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 0;
    color: brown;
}

.divaudio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Flexible columns */
  gap: 10px; /* Space between links */
  width: 100%;
}